#title {
  color: green;
  font-size: 25px;
}

div {
  border: 1px solid;
  width: 50%;
  margin-top: 20px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}
